* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
	font-family: 微软雅黑;
}

.ovh {overflow: hidden;}
.fll {float: left;}
.flr {float: right;}
.cl {clear: both;}
.rel {position: relative;}
.abs {position: absolute;}
.tdn {text-decoration: none;}
.tdn:hover {text-decoration: underline;}
.tdnn {text-decoration: none;}
.f11 {font-size: 11px;}
.f12 {font-size: 12px;}
